docease/workflows/webhook-convert-pdf.json
{
  "name": "Webhook - Convert PDF",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "convert-pdf",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-convert-pdf-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "convert-pdf"
    },
    {
      "parameters": {
        "url": "http://localhost:8080/api/convert-pdf",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {
          "timeout": 60000
        },
        "bodyParametersJson": "={{ JSON.stringify($json.body) }}"
      },
      "id": "http-request-powershell",
      "name": "Call PowerShell Server",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call PowerShell Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call PowerShell Server": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-25T10:30:00.000Z",
  "versionId": "1"
}

