docease/archive/workflow-check.json
[{"updatedAt":"2025-11-07T13:42:52.000Z","createdAt":"2025-10-31T13:24:42.183Z","id":"AJtlydAXDxYu7HTq","name":"gpt_generator","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"formulaire-doc","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"id":"b9c911d9-829b-444e-98f4-07d89f6eb1c6","name":"Formulaire (Webhook)","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-720,336],"webhookId":"b9831e24-a00c-4c88-8870-eadb470a1e00"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.texteIa && $json.texteIa.length > 10 }}"}]}},"id":"a03046e6-bbfe-44ff-b9a9-3e55c07164eb","name":"Condition IA","type":"n8n-nodes-base.if","typeVersion":1,"position":[-240,336]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/generate","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gemma2:2b\",\n  \"prompt\": \"R?dige un document professionnel en fran?ais bas? sur ces informations : {{ $json.texte_ia }}\",\n  \"stream\": false,\n  \"options\": {\n    \"num_predict\": 500,\n    \"temperature\": 0.7\n  }\n}","options":{"timeout":120000}},"id":"b228bc91-be81-458b-9e18-d68c31348d99","name":"Appel IA Gemma","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,208]},{"parameters":{"assignments":{"assignments":[{"id":"texte_ia_genere","name":"texte_ia","value":"={{ $json.response || $('Preparer Donnees').item.json.texte_ia }}","type":"string"}]},"options":{}},"id":"extract-ia","name":"Extraire Texte IA","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[256,208]},{"parameters":{"filePath":"={{ '/templates/word/template_' + $('Preparer Donnees').item.json.typeDocument + '.docx' }}"},"id":"e27807aa-f85e-47a5-a364-f11fe3c44a00","name":"Lire Template Word","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[-432,336]},{"parameters":{"context":"={{ $('Preparer Donnees').item.json }}","options":{}},"type":"n8n-nodes-docxtemplater.docxTemplater","typeVersion":1,"position":[192,336],"id":"docxtemplater","name":"Remplir Template Docx"},{"parameters":{"httpMethod":"POST","path":"validate-doc","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"id":"f102ee2a-c074-4732-b742-db965fc23c38","name":"Validation (Webhook)","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-432,640],"webhookId":"5b1faf80-9617-46b5-86ee-f723caa9fd66"},{"parameters":{"fromEmail":"contact@fo-metaux.fr","toEmail":"={{ $json.emailDestinataire }}","subject":"={{ 'Document g?n?r? - ' + $json.objet }}","text":"={{ 'Bonjour ' + ($json.nomDestinataire || 'Madame, Monsieur') + ',\\n\\nVeuillez trouver ci-joint le document g?n?r?.\\n\\nCordialement,\\nFO METAUX' }}","attachments":"data","options":{}},"id":"a383a942-0573-4ece-837b-4f8efdb13d8f","name":"Envoi Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[176,640],"credentials":{"smtp":{"id":"DDPP2MZx5Nw5x3X9","name":"SMTP account"}}},{"parameters":{"functionCode":"// Logger ce qui arrive au webhook\nconsole.log('=== VALIDATION WEBHOOK RECU ===');\nconsole.log('Body:', $json.body);\n\n// Récupérer toutes les variables\nconst civiliteDestinataire = $json.body?.civiliteDestinataire || $json.civiliteDestinataire;\nconst nomDestinataire = $json.body?.nomDestinataire || $json.nomDestinataire;\nconst statutDestinataire = $json.body?.statutDestinataire || $json.statutDestinataire;\nconst batiment = $json.body?.batiment || $json.batiment;\nconst adresse = $json.body?.adresse || $json.adresse;\nconst cpVille = $json.body?.cpVille || $json.cpVille;\nconst objet = $json.body?.objet || $json.objet;\nconst numeroCourrier = $json.body?.numeroCourrier || $json.numeroCourrier;\nconst civiliteRemplace = $json.body?.civiliteRemplace || $json.civiliteRemplace;\nconst nomRemplace = $json.body?.nomRemplace || $json.nomRemplace;\nconst codeDocument = $json.body?.codeDocument || $json.codeDocument;\nconst civiliteDelegue = $json.body?.civiliteDelegue || $json.civiliteDelegue;\nconst nomDelegue = $json.body?.nomDelegue || $json.nomDelegue;\nconst emailDelegue = $json.body?.emailDelegue || $json.emailDelegue;\nconst emailDestinataire = $json.body?.emailDestinataire || $json.emailDestinataire;\nconst signatureExp = $json.body?.signatureExp || $json.signatureExp;\nconst wordBase64 = $json.body?.wordfile || $json.wordfile;\n\nconsole.log('Variables recues:', { objet, nomDestinataire, emailDestinataire, hasWord: !!wordBase64 });\n\nif (!emailDestinataire) {\n  throw new Error('Aucun destinataire fourni !');\n}\n\nif (!wordBase64) {\n  throw new Error('Fichier Word manquant ! Le formulaire doit generer le Word avant d\\'appeler ce webhook.');\n}\n\n// Formater les destinataires\nconst emailList = emailDestinataire.split(',').map(email => email.trim()).filter(email => email.length > 0).join(', ');\n\n// Retourner les données avec le binaire Word\nreturn {\n  json: {\n    civiliteDestinataire,\n    nomDestinataire,\n    statutDestinataire,\n    batiment,\n    adresse,\n    cpVille,\n    objet,\n    numeroCourrier,\n    civiliteRemplace,\n    nomRemplace,\n    codeDocument,\n    civiliteDelegue,\n    nomDelegue,\n    emailDelegue,\n    emailDestinataire: emailList,\n    signatureExp\n  },\n  binary: {\n    data: {\n      data: wordBase64,\n      mimeType: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n      fileName: `Document_${objet}_${Date.now()}.docx`\n    }\n  }\n};"},"id":"f5a8011a-d68a-4f41-94bb-26fa42dc983f","name":"Generer Word Final","type":"n8n-nodes-base.function","typeVersion":1,"position":[-128,640]},{"parameters":{"assignments":{"assignments":[{"id":"68bdcad8-b639-4963-8a10-6dc4a2e16a36","name":"entreprise","value":"={{ $('Formulaire (Webhook)').item.json.body.entreprise }}","type":"string"},{"id":"civiliteDestinataire","name":"civiliteDestinataire","value":"={{ $('Formulaire (Webhook)').item.json.body.civiliteDestinataire }}","type":"string"},{"id":"genre","name":"genre","value":"={{ $('Formulaire (Webhook)').item.json.body.civiliteDestinataire === 'Madame' ? 'la' : 'le' }}","type":"string"},{"id":"nomDestinataire","name":"nomDestinataire","value":"={{ $('Formulaire (Webhook)').item.json.body.nomDestinataire }}","type":"string"},{"id":"statutDestinataire","name":"statutDestinataire","value":"={{ $('Formulaire (Webhook)').item.json.body.statutDestinataire }}","type":"string"},{"id":"batiment","name":"batiment","value":"={{ $('Formulaire (Webhook)').item.json.body.batiment || '' }}","type":"string"},{"id":"adresse","name":"adresse","value":"={{ $('Formulaire (Webhook)').item.json.body.adresse }}","type":"string"},{"id":"cpVille","name":"cpVille","value":"={{ $('Formulaire (Webhook)').item.json.body.cpVille }}","type":"string"},{"id":"typeDocument","name":"typeDocument","value":"={{ $('Formulaire (Webhook)').item.json.body.templateType }}","type":"string"},{"id":"texteIa","name":"texteIa","value":"={{ $('Formulaire (Webhook)').item.json.body.texteIa || '' }}","type":"string"},{"id":"objet","name":"objet","value":"={{ $('Formulaire (Webhook)').item.json.body.objet || '' }}","type":"string"},{"id":"numeroCourrier","name":"numeroCourrier","value":"={{ $('Formulaire (Webhook)').item.json.body.numeroCourrier }}","type":"string"},{"id":"civiliteRemplace","name":"civiliteRemplace","value":"={{ $('Formulaire (Webhook)').item.json.body.civiliteRemplace }}","type":"string"},{"id":"nomRemplace","name":"nomRemplace","value":"={{ $('Formulaire (Webhook)').item.json.body.nomRemplace }}","type":"string"},{"id":"codeDocument","name":"codeDocument","value":"={{ $('Formulaire (Webhook)').item.json.body.codeDocument }}","type":"string"},{"id":"civiliteDelegue","name":"civiliteDelegue","value":"={{ $('Formulaire (Webhook)').item.json.body.civiliteDelegue }}","type":"string"},{"id":"nomDelegue","name":"nomDelegue","value":"={{ $('Formulaire (Webhook)').item.json.body.nomDelegue }}","type":"string"},{"id":"emailDelegue","name":"emailDelegue","value":"={{ $('Formulaire (Webhook)').item.json.body.emailDelegue }}","type":"string"},{"id":"emailDestinataire","name":"emailDestinataire","value":"={{ $('Formulaire (Webhook)').item.json.body.emailDestinataire }}","type":"string"},{"id":"signatureExp","name":"signatureExp","value":"={{ $('Formulaire (Webhook)').item.json.body.signatureExp || 'FO METAUX' }}","type":"string"},{"id":"date","name":"date","value":"={{ $now.toFormat('dd/MM/yyyy') }}","type":"string"},{"id":"dateComplete","name":"dateComplete","value":"={{ $now.toFormat('cccc d MMMM yyyy', { locale: 'fr' }) }}","type":"string"},{"id":"heure","name":"heure","value":"={{ $now.toFormat('HH:mm') }}","type":"string"}]},"options":{}},"id":"prepare-data","name":"Preparer Donnees","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-560,336]},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"message\": \"Document genéré et envoye par email avec succés\", \"destinataire\": $('Generer Word Final').item.json.emailDestinataire, \"objet\": $('Generer Word Final').item.json.objet } }}","options":{}},"id":"a4b72cf2-f680-4c7d-9516-a35c6321b236","name":"Reponse Finale","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[480,640]},{"parameters":{"respondWith":"binary","responseDataSource":"set","options":{}},"id":"webhook-preview","name":"Reponse avec Word","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[432,336]}],"connections":{"Formulaire (Webhook)":{"main":[[{"node":"Preparer Donnees","type":"main","index":0}]]},"Condition IA":{"main":[[{"node":"Appel IA Gemma","type":"main","index":0}],[{"node":"Lire Template Word","type":"main","index":0}]]},"Appel IA Gemma":{"main":[[{"node":"Extraire Texte IA","type":"main","index":0}]]},"Extraire Texte IA":{"main":[[{"node":"Lire Template Word","type":"main","index":0}]]},"Lire Template Word":{"main":[[{"node":"Remplir Template Docx","type":"main","index":0}]]},"Remplir Template Docx":{"main":[[{"node":"Reponse avec Word","type":"main","index":0}]]},"Validation (Webhook)":{"main":[[{"node":"Generer Word Final","type":"main","index":0}]]},"Envoi Email":{"main":[[{"node":"Reponse Finale","type":"main","index":0}]]},"Generer Word Final":{"main":[[{"node":"Envoi Email","type":"main","index":0}]]},"Preparer Donnees":{"main":[[{"node":"Condition IA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a9ccfa0e-46fd-457e-85ae-9abab663a0b5","triggerCount":2,"tags":[],"shared":[{"updatedAt":"2025-10-31T13:24:42.188Z","createdAt":"2025-10-31T13:24:42.188Z","role":"workflow:owner","workflowId":"AJtlydAXDxYu7HTq","projectId":"iQ4tdRQc1ymkbszX","project":{"updatedAt":"2025-10-29T10:36:32.039Z","createdAt":"2025-10-29T10:34:04.327Z","id":"iQ4tdRQc1ymkbszX","name":"fo metaux <aimarshall615@gmail.com>","type":"personal","icon":null,"description":null}}]}]